<section class="about" id="about">

  <h1 class="heading" style="color:white ;">à propos de nous</h1>

  <div class="row">

     <div class="video">
        <video src="../../../assets/img/images/elec.mp4" loop muted autoplay></video>
     </div>

     <div class="content">
        <h3>TOGETHER FOR MORE ENERGY</h3>
        <p>SONELGAZ est un groupe industriel énergétique algérien, spécialisé dans la production,
           la distribution, le transport et la commercialisation d'électricité et de gaz naturel. <br>
           SONELGAZ est le premier fournisseur d'électricité et de gaz en Algérie. Il fournit l'électricité à 10 millions de clients et le gaz à 6 millions.</p>
        <a href="https://www.sonelgaz.dz/fr" class="aboutbtn">voir plus</a>
     </div>

  </div>

  <div class="box-container">

     <div class="box">
        <h3>1M+</h3>
        <p>Bulletins de paie générés par an</p>
     </div>

     <div class="box">
        <h3>3M+</h3>
        <p>Mouvements de trésorerie par an</p>
     </div>

     <div class="box">
        <h3>10M+</h3>
        <p>Mouvements comptables par an</p>
     </div>

     <div class="box">
        <h3>40M+</h3>
        <p>Clients nous ont fait confiance</p>
     </div>

  </div>

</section>
