<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Designation</th>
      <th scope="col">Observation</th>
      <th scope="col">Prix</th>
      <th scope="col">ConsomAnnee</th>
      <th scope="col">Fabricant</th>
      <th scope="col">Fournisseur</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produit of produits" >
      <th scope="row">{{produit.ref_piece}}</th>
      <td>{{produit.designation}}</td>
      <td>{{produit.observation}}</td>
      <td>{{produit.prix}}</td>
      <td>{{produit.consomAnnee}}</td>
      <td>{{produit.fabricants[0].nom_fab}}</td>
      <td>{{produit.fournisseurs[0].nom_four}}</td>
      <td>
        <button (click)="updateProduit(produit.ref_piece)" class="btn btn-info">Update</button>
        <button (click)="deleteProduit(produit.ref_piece)" class="btn btn-danger" style="margin-left:10px">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
