
<table class="table table-striped table-hover" style="margin-top:13%;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Section</th>
      <th scope="col">Service</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filiale of filiales">
      <th scope="row">{{filiale.id}}</th>
      <td>{{filiale.nom_fil}}</td>
      <td>{{filiale.desc_fil}}</td>
      <td>{{filiale.sect_fil}}</td>
      <td>{{filiale.service[0].nom_serv}}</td>
      <td>D
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#editFilialeModal" (click)="updateFiliale(filiale.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#deleteFilialeModal" (click)="deleteFiliale(filiale.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

      </td>
    </tr>
  </tbody>
</table>
