<section class="projects" id="projects">

  <h1 class="heading"> Nos produits </h1>

  <div class="box-container">

<!--       <a href="images/produits/Accessoires d'assemblage compteur et régulateur gaz.jpg" class="box">
        <div class="image">
           <img src="images/produits/Accessoires d'assemblage compteur et régulateur gaz.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Assembleur compteur</h3>
                 <h3>et régulateur gaz</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>

     <a href="images/produits/coffret.jpg" class="box">
        <div class="image">
           <img src="images/produits/Coffret.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Coffret</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a> -->

     <a href="../../../assets/img/images/produits/Compteur Electronique CX1000-3.jpg" class="box">
        <div class="image">
           <img src="../../../assets/img/images/produits/Compteur Electronique CX1000-3.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Compteur Electronique</h3>
              <h3>CX1000-3</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>
<!--
     <a href="images/produits/Compteur Electronique triphasé SL 7000 MT or HT.jpg" class="box">
        <div class="image">
           <img src="images/produits/Compteur Electronique triphasé SL 7000 MT or HT.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Compteur Electronique </h3>
              <h3>triphasé SL 7000 MT/HT</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>
-->
     <a href="../../../assets/img/images/produits/Compteur Gaz MG4.png" class="box">
        <div class="image">
           <img src="../../../assets/img/images/produits/Compteur Gaz MG4.png" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Compteur Gaz MG4</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>

<!--       <a href="images/produits/COMPTEURS A MEMBRANE.png" class="box">
        <div class="image">
           <img src="images/produits/COMPTEURS A MEMBRANE.png" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Compteur a Membrane</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a> -->

     <a href="../../../assets/img/images/produits/Contacteur Auxiliaire CA 2DN.jpg" class="box">
        <div class="image">
           <img src="../../../assets/img/images/produits/Contacteur Auxiliaire CA 2DN.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Contacteur Auxiliaire</h3>
              <h3>CA 2DN</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>

     <a href="../../../assets/img/images/produits/Discontacteur LE 1D.jpg" class="box">
        <div class="image">
           <img src="../../../assets/img/images/produits/Discontacteur LE 1D.jpg" alt="">
        </div>
        <div class="content">
           <div class="info">
              <h3>Discontacteur LE 1D</h3>
           </div>
           <i class="fas fa-plus"></i>
        </div>
     </a>

  </div>

  <a href="produit.html" class="probtn" routerLink="catalogue" style="margin:45px 0 0 40% ;">voir catalogue</a>

</section>
