<div id="navhead">
  <header class="header">

    <a href="#" ><img src="../../../assets/img/Logo_Sonelgaz.png" alt=""></a>

    <nav class="navbar">
      <a href="index.html">accueil</a>
    </nav>

    <div class="icons">
      <div id="info-btn" class="fas fa-info-circle"></div>
      <div id="search-btn" class="fas fa-search"></div>
    </div>

    <form action="" class="search-form">
      <input type="search" name="" placeholder="search here..." id="search-box">
      <label for="search-box" class="fas fa-search"></label>
    </form>

  </header>

  <div class="contact-info">

    <div id="close-contact-info" class="fas fa-times"></div>

    <div class="info">
      <i class="fas fa-phone"></i>
      <h3>phone number</h3>
      <p>0 23 60 84 95</p>
    </div>

    <div class="info">
      <i class="fas fa-envelope"></i>
      <h3>email address</h3>
      <p>communication@sonelgaz.dz</p>
    </div>

    <div class="info">
      <i class="fas fa-map-marker-alt"></i>
      <h3>address d'entreprise</h3>
      <p>Djasr Kasentina, P433+J8H</p>
    </div>

  </div>
</div>
<!-- header section ends -->

<!-- search partie -------------------->

<div class="container mt-5">

  <div class="row d-flex justify-content-center">

      <div class="col-md-10">

          <div class="card p-3  py-4">

              <h5>Rechercher votre produit</h5>

              <div class="row g-3 mt-2">

                  <div class="col-md-3">

                      <div class="col-md-3">
                        <button class="btn btn-secondary" id="tousbtn">tous les porduits</button>
                      </div>

<!--                       <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          Any Status
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="#">Rural</a></li>
                          <li><a class="dropdown-item" href="#">Urban</a></li>
                          <li><a class="dropdown-item" href="#">All</a></li>
                        </ul>
                      </div> -->
                  </div>

                  <div class="col-md-6">

                      <input type="text" class="form-control" placeholder="Entrer le nom de produit">

                  </div>

                  <div class="col-md-3">

                      <button class="btn btn-secondary btn-block">Resultas de recherche</button>

                  </div>

              </div>


              <div class="mt-3">

                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced">
                Recherche avancée avec filtrage  <i class="fa fa-angle-down"></i>
                </a>

                <div class="collapse" id="collapseExample">

                  <div class="card card-body">

                    <div class="row">

                      <div class="col-md-4">
                        <p>filiale :</p>
                        <select type="filiale" placeholder="Property ID" class="form-control dropdown-toggle" type="button"  data-toggle="dropdown" aria-expanded="false">
                            fialiale
                            <option value="" selected="selected">elit</option>
                            <option value="">amc</option>
                            <option value="">ifeg</option>
                            <option value="">ceeg</option>
                            <option value="">ettarkib</option>
                            <option value="">geat</option>
                            <option value="">grte</option>
                            <option value="">grtg</option>
                            <option value="">inerga</option>
                            <option value="">kahrakib</option>
                            <option value="">kahrif</option>
                            <option value="">kanaghaz</option>
                            <option value="">baosem</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <p>famille :</p>
                        <select type="filiale" placeholder="Property ID" class="form-control dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          famille
                            <option value="" selected="selected">SARHAS</option>
                            <option value="">SARHYD</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <p>fabricant :</p>
                        <select type="filiale" placeholder="Property ID" class="form-control dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          fabricant
                            <option value="" selected="selected">SARL1</option>
                            <option value="">SARL2</option>
                        </select>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>
<!-- end search partie ---------------->
<!-- card porduit --------- -->
<div class="panneaux">

  <div class="pan">

      <div class="right">
          <div class="pan-content">
              <table class="table table-bordered">
                <tbody >
                  <tr>
                    <th scope="col" colspan="4" style="text-align:center; color: #f5bf23;">Compteur Electronique CX1000-3</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <th scope="row" >Réference</th>
                    <td>First</td>
                    <th scope="row">ConsomAnnee</th>
                    <td>Mythor</td>
                  </tr>
                  <tr>
                    <th scope="row">Designation</th>
                    <td>Samso</td>
                    <th scope="row">Fabricant</th>
                    <td>Mythor</td>
                  </tr>
                  <tr>
                    <th scope="row">Observation</th>
                    <td>Tinor</td>
                    <th scope="row">Fournisseur</th>
                    <td>Mythor</td>
                  </tr>
                  <tr>
                    <th scope="row">Prix</th>
                    <td>Mythor</td>
                    <th scope="row">Famille</th>
                    <td>Mythor</td>
                  </tr>
                  <tr>
                    <th scope="row">Filiale</th>
                    <td>Mythor</td>
                    <th scope="row"></th>
                    <td></td>
                  </tr>
                </tbody>
              </table>


          </div>
      </div>

      <div class="left">
          <img src="../../../assets/img/images/produits/Compteur Electronique CX1000-3.jpg" aria-hidden="true">
      </div>

  </div>

  <div class="pan">

    <div class="right">
        <div class="pan-content">
            <h2 class="title">
              <h3>Compteur GAZ MG4</h3>
            </h2>
            <p class="para">Réference: </p>
            <p class="para">Designation: </p>
            <p class="para">Observation: </p>
            <p class="para">Prix: </p>
            <p class="para">ConsomAnnee: </p>
            <p class="para">Fabricant: </p>
            <p class="para">Fournisseur: </p>
            <p class="para">Famille: </p>
            <p class="para">Filiale: </p>
        </div>
    </div>

    <div class="left">
        <img src="../../../assets/img/images/produits/Compteur Gaz MG4.png" aria-hidden="true">
    </div>
</div>
<!-- end card produit --------- -->

<!-- footer section starts  -->

<section class="footer">

  <div class="links">
     <a class="footbtn" href="#home">accueil</a>
     <a class="footbtn" href="#catalogue">catalogue</a>
  </div>

  <div class="credit"> &copy; Copyright 2022 <strong><span>ELIT</span></strong>. All Rights Reserved! </div>

</section>
