
<table class="table table-striped table-hover" style="margin-top:13%;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fabricant of fabricants">
      <th scope="row">{{fabricant.id}}</th>
      <td>{{fabricant.nom_fab}}</td>
      <td>{{fabricant.type_fab}}</td>
      <td>
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#editFabricantModal" (click)="updateFabricant(fabricant.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#deleteFabricantModal" (click)="deleteFabricant(fabricant.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
      </td>
    </tr>
  </tbody>
</table>
