<section class="services" id="filiales">

  <h1 class="heading">Nos filiales </h1>


  <section class="logo-container">
    <div class="swiper logo-slider">
      <div class="swiper-wrapper">
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/amc.png" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/ifeg.jpg" alt=""></div>
  <!--             <div class="swiper-slide slide"><img src="images/filiales/elit.jpg" alt=""></div> -->
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/ceeg.jpg" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/ettarkib.jpg" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/geat.png" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/grte.png" alt=""></div>
      </div>
    </div>
  </section>
  <section class="logo-container">
    <div class="swiper logo-slider">
      <div class="swiper-wrapper">
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/GRTG.jpg" alt=""></div>
  <!--             <div class="swiper-slide slide"><img src="images/filiales/baosem.jpg" alt=""></div> -->
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/inerga.jpg" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/KAHRAKIB.png" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/kahrif.png" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/ifeg.jpg" alt=""></div>
          <div class="swiper-slide slide"><img src="../../../assets/img/images/filiales/kanaghaz.png" alt=""></div>
      </div>
    </div>
  </section>
</section>
