<app-header></app-header>

<section class="home" id="home">

  <div class="swiper home-slider">

     <div class="swiper-wrapper">

        <section class="swiper-slide slide" style="background: url(../../../assets/img/images/home-slide-1.jpg) no-repeat;">
           <div class="content">
              <h3>Votre Portail de Produits </h3>
              <h3>des industries gazières</h3>
              <h3>et électriques</h3>
              <p></p>
              <a href="#projects" class="homebtn">Nos produits</a>
           </div>
        </section>

        <section class="swiper-slide slide" style="background: url(../../../assets/img/images/home-slide-2.jpg) no-repeat;">
           <div class="content">
              <h3>Les services de SONELGAZ</h3>
              <a href="#services" class="homebtn">Nos services</a>
           </div>
        </section>

        <section class="swiper-slide slide" style="background: url(../../../assets/img/images/home-slide-3.jpg) no-repeat;">
           <div class="content">
              <h3>Les filiales de SONELGAZ</h3>
              <a href="#filiales" class="homebtn">Nos filiales</a>
           </div>
        </section>

     </div>

     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>

  </div>

</section>

<app-about></app-about>
<app-service></app-service>
<app-produit></app-produit>
<app-filiale></app-filiale>
<app-contact></app-contact>

<section class="blogs" id="blog">

  <h1 class="heading">Actualités</h1>

  <div class="swiper blogs-slider">

     <div class="swiper-wrapper">


        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/alaune/a_la_une_2.png" alt="">
           </div>
           <div class="content">
              <h3>Cinq nouveaux cours pour plus de conscience au domaine de séccurité</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/alaune/a_la_une_3.png" alt="">
           </div>
           <div class="content">
              <h3>Atelier de formation pour les professionnels de santé, sécurité et envorinnement</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/alaune/a_la_une_5.png" alt="">
           </div>
           <div class="content">
              <h3>Rénovation de deux ateliers de service automobile à Constantine et Sétif</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/blog-4.jpg" alt="">
           </div>
           <div class="content">
              <h3>Construction et développement de nouveaux material</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/blog-5.jpg" alt="">
           </div>
           <div class="content">
              <h3>Des nouveaux plans pour une bonne organisation de l'année 2022</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

        <div class="swiper-slide slide">
           <div class="image">
              <img src="../../../assets/img/images/blog-6.jpg" alt="">
           </div>
           <div class="content">
              <h3>Overture des annexes sur toute l'Algérie pour se rapprocher des clients</h3>
              <a href="#" class="homebtn">voir plus</a>
           </div>
        </div>

     </div>

  </div>

</section>

<app-footer></app-footer>
