<section class="contact" id="contact">

  <h1 class="heading"> contacter nous </h1>

  <div class="row">

     <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.6872144693307!2d3.101544226953125!3d36.70605349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e52d152a07f71%3A0xf634ee77ede0b29b!2sSonelgaz!5e0!3m2!1sfr!2sdz!4v1653834155520!5m2!1sfr!2sdz"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

     <form action="">
        <h3>Envoyer votre message</h3>
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="phone" class="box">
        <textarea name="" placeholder="message" class="box" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="contbtn">
     </form>

  </div>

</section>
