<section class="footer">

  <div class="links">
     <a class="footbtn" href="#home">accueil</a>
     <a class="footbtn" href="#about">à propos</a>
     <a class="footbtn" href="#services">services</a>
     <a class="footbtn" href="#projects">produits</a>
     <a class="footbtn" href="#filiales">filiales</a>
     <a class="footbtn" href="#contact">contact</a>
     <a class="footbtn" href="#blog">actualités</a>
  </div>

  <div class="credit"> &copy; Copyright 2022 <strong><span>ELIT</span></strong>. All Rights Reserved! </div>

</section>
