<div class="card o-hidden border-0 shadow-lg my-5" style="margin-top:17% !important; height: 360px;">
  <div class="card-body p-0">
    <div class="row">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4" style=" color:#5F9EA0 !important; font-size: 27px; font-weight: 30px; margin-top: 10px;">
          Ajouter une filiale</h1>
      </div>
      <form class="user col-lg-6 d-none d-lg-block" (ngSubmit)="onSubmit()" >
        <div class="form-floating" style="border:#5F9EA0 solid; border-radius:30px; padding-left:15px; height: 60px; width: 82%; margin-left: 40px;">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
          id="nom_fil" [(ngModel)]="filiale.nom_fil" name="nom_fil"></textarea>
          <label for="floatingTextarea">Nom de la filiale</label>
        </div>
        <br>
        <div class="form-floating" style="border:#5F9EA0 solid; border-radius:30px; padding-left:15px; height: 60px; width: 82%; margin-left: 40px;">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
          id="desc_fil" [(ngModel)]="filiale.desc_fil" name="desc_fil"></textarea>
          <label for="floatingTextarea">Description de la filiale</label>
        </div>
        <br>
        <div class="form-floating" style="border:#5F9EA0 solid; border-radius:30px; padding-left:15px; height: 60px; width: 82%; margin-left: 40px;">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
          id="sect_fil" [(ngModel)]="filiale.sect_fil" name="sect_fil"></textarea>
          <label for="floatingTextarea">Section de la filiale</label>
        </div>
      </form>
      <div class="col-lg-6">
        <div class="p-5">
            <form class="user" (ngSubmit)="onSubmit()">
                <select type="text" class="form-select" aria-label="Default select example"  id="service" [(ngModel)]="filiale.services" name="service"
                  style="border:#5F9EA0 solid; border-radius:30px; padding-left:15px; height: 60px; width: 409px;">
                  <option *ngFor="let service of services" value={{service.nom_serv}} >{{service.nom_serv}}</option>
                </select>
                <br>
                <button class="btn btn-success btn-user btn-block" type="submit" style="border-radius:30px; background-color: #5F9EA0; height: 60px; font-size: 17px; margin-right: 400px;">
                  Ajouter</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>









