<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let famille of familles">
      <th scope="row">{{famille.id}}</th>
      <td>{{famille.nom}}</td>
      <td>{{famille.desc}}</td>
      <td>
        <button (click)="updateFamille(famille.id)" class="btn btn-info">Update</button>
        <button (click)="deleteFamille(famille.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

