<section class="services" id="services">

  <h1 class="heading"> our services </h1>

  <div class="box-container">

     <div class="box">
        <img src="../../../assets/img/images/comp.jpg" alt="">
        <h3>Exploitation Comptable</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-2.png" alt="">
        <h3>Administration Générale</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-3.png" alt="">
        <h3>Finances</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-4.png" alt="">
        <h3>Controle de Gestion et Material</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-5.png" alt="">
        <h3>Ressources Humaines</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-6.png" alt="">
        <h3>Développement et Formation</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-7.png" alt="">
        <h3>Controle Maintenance & Intervention TCE</h3>
     </div>

     <div class="box">
        <img src="../../../assets/img/images/service-8.png" alt="">
        <h3>Affaire Générale</h3>
     </div>

  </div>

</section>
