<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fournisseur of fournisseurs">
      <th scope="row">{{fournisseur.id}}</th>
      <td>{{fournisseur.nom_four}}</td>
      <td>
        <button (click)="updateFournisseur(fournisseur.id)" class="btn btn-info">Update</button>
        <button (click)="deleteFournisseur(fournisseur.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
