
<table class="table table-striped table-hover" style="margin-top:13%;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fournisseur of fournisseurs">
      <th scope="row">{{fournisseur.id}}</th>
      <td>{{fournisseur.nom_four}}</td>
      <td>
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#editFournisseurModal" (click)="updateFournisseur(fournisseur.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
        <a *ngIf="roles[0]==='ROLE_ADMIN'" href="#deleteFournisseurModal" (click)="deleteFournisseur(fournisseur.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
      </td>
    </tr>
  </tbody>
</table>
