<table class="table table-striped table-hover" style="margin-top:13%;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <th scope="row">{{service.id}}</th>
      <td>{{service.nom_serv}}</td>
      <td>{{service.designation_serv}}</td>
      <td>
        <a href="#editServiceModal" (click)="updateService(service.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
        <a href="#deleteServiceModal" (click)="deleteService(service.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
      </td>
    </tr>
  </tbody>
</table>
